* {
    box-sizing: border-box;
}

.rodape {
    background-color: #00072d;
    display: flex;
    color: white;
    height: 300px;
}

.footer-div {
    display: flex;
}

.redes-sociais {
    display: inline;
    width: 20%;
}

.logo-facebook {
    width: 20px;
    margin: 5px
}

.logo-instagram {
    width: 20px;
    margin: 5px;
}

.logo-twitter {
    width: 20px;
    margin: 5px
}

.faca-parte {
    margin: 8px;
    font-size: 20px;
}

.titulo-redes-sociais {
    font-size: 20px;
}

.logos-cartoes {
    display: inline;    
}

.logo-cartao-visa {
    width: 40px;
    margin: 5px
}

.logo-cartao-mastercard {
    width: 40px;
    margin: 5px
}

.logo-cartao-pagseguro {
    width: 60px;
    margin: 5px
}

.logo-cartao-elo {
    width: 60px;
    margin: 5px
}

.logo {
    width: 130px;
    height: 100px;
    display: flex;
}

.contato{
    display: flex;
    align-items: flex-end;
}