<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/index/EchoPet-logo-preto.png">
    <link rel="stylesheet" href="/style/ConfirmacaoDePagamento.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>EchoPet</title>
</head>

<body>
    <%- include('./partials/header') %>

    <!--MAIN-->

    <div class="container confirmPagto">
        <div class="containerConfirmacaoPagamento">
            <h1 class="h1confirmacaoPagamento">
                Pagamento realizado com sucesso!
            </h1>
            <h2 class="OlaPessoa">
                Olá Fulano de tal,
            </h2>

            <% let ped = Math.floor(Math.random()*456789);%>
            <p class="tmanhoTexto">Gostariamos de informar que seu pedido número <strong style="color:forestgreen;"><%= ped%></strong>  foi realizado com sucesso.</br>
                Seu pedido será empacotado e encaminharemos à transportadora.</p>

            <img class="statusPedido"src="./img/confirmacaoDePagamento/sinalChecado.jpg" alt="Status do pedido">

            <p class="pagamentoConfirmado">Preparando para enviar.</p>
        </div>
    </div>



    <%- include('./partials/novoTesteFooter') %>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>

</html>