<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/footer/EchoPet-logo-white.png">
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="/style/error.css">
  
</head>
<body>
    <div class="container">
        <h1>
            404 - Página não encontrada. 
        </h1>

        <img class="logo-error" src="./img/footer/EchoPet-logo-white.png" alt="Logo">
        
        <p>
            <a class="retornoPagInicial"href="/">Clique aqui para retornar à página inicial</a>
        </p>
        
    </div>

    
    
    
</body>
</html>