<form method="POST" action="/login/cadastro"> 
    <h1 class="text-left">Faça seu Login</h1>

    <label class="formulario" for="user_descricao">Nome</label>
    <input type="text" class="form-control" name="user_descricao" id="user_descricao" placeholder="Digite a descrição">
    <br>
    
    <label class="formulario" for=" user_email">E-mail</label>
    <input type="email" class="form-control" name="user_email" id="user_email" placeholder="Digite seu E-mail">
    <br>

    <label class="formulario" for="user_cpf">CPF</label>
    <input type="text" class="form-control" name="user_cpf" id="user_cpf" placeholder="Digite seu CPF">
    <br>

    <label class="formulario" for="user_telefone">Telefone</label>
    <input type="tel" class="form-control" name="user_telefone" id="user_telefone" placeholder="Digite seu Telefone">
    <br>

    <label class="formulario" for="user_telefone2">Telefone2</label>
    <input type="tel" class="form-control" name="user_telefone2" id="user_telefone2" placeholder="Digite seu segundo Telefone">
    <br>

    <label class="formulario" for="user_senha">Senha</label>
    <input type="password" class="form-control" name="user_senha" id="user_senha" placeholder="Digite sua senha">
    
   
    <label class="small-text"><input type="checkbox">Lembrar senha</label>
   <a href="#"> <label class="recuperar-senha" >Esqueci a senha</label> </a> 
    </br>
    <button type="submit" class="login-botao">Cadastrar</button>
    <br>
    <!-- <div>
        <button type="button" class="login-facebook"><span ><img src="./img/Login + Pagamento/logo-facebook.jpg" height=15px> </span>Fazer Login com Facebook</button>
    </div>
    <div>
        <button type="button" class="login-google"><span ><img src="./img/Login + Pagamento/google.png" height=15px> </span>Fazer Login com o Google</button> -->
    <!-- </div> -->
</form>
