<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/img/index/EchoPet-logo-preto.png">

  <link rel="stylesheet" href="/style/gatoMenu.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Produtos para Gato</title>
</head>

<body>

  <%- include('./partials/header') %>

  
  
 
  
    <!--Contúdo principal site 1-->
  <section class="container paddingHamburger">
    <h1 class="h1-main">Produtos para seu Gato</h1>
    <div class="row">
      <div class="col-md-3">
        <div class="card" >
          <img src="/img/Produtos/racaoGato.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ração para Gatos Adultos Carne e Vegetais Whiskas</h5>
            <p class="card-text">R$120,00</p>
            <a href="/produto" class="btn btn-primary">Comprar</a>
            <p class="nomeEchopet">EchoPet</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card" >
          <img src="/img/Produtos/racaoGato.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ração para Gatos Adultos Carne e Vegetais Whiskas</h5>
            <p class="card-text">R$120,00</p>
            <a href="/produto" class="btn btn-primary">Comprar</a>
            <p class="nomeEchopet">EchoPet</p>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="card" >
          <img src="/img/Produtos/racaoGato.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ração para Gatos Adultos Carne e Vegetais Whiskas</h5>
            <p class="card-text">R$120,00</p>
            <a href="/produto" class="btn btn-primary">Comprar</a>
            <p class="nomeEchopet">EchoPet</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card" >
          <img src="/img/Produtos/racaoGato.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Ração para Gatos Adultos Carne e Vegetais Whiskas</h5>
            <p class="card-text">R$120,00</p>
            <a href="/produto" class="btn btn-primary">Comprar</a>
            <p class="nomeEchopet">EchoPet</p>
          </div>
        </div>
      </div>
    </div>
    </div>


    <!--Contúdo principal site 1-->
    <main class="container">
      <h1 class="h1-main">Produtos em Destaque</h1>
      <div class="row">
        <div class="col-md-3 col-10 offset-md-0 offset-1">
          <div class="card">
            <img src="/img/Produtos/racaoGato.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ração para Gatos Adultos Carne e Vegetais Whiskas</h5>
              <p class="card-text">R$120,00</p>
              <a href="/produto" class="btn btn-primary">Comprar</a>
              <p class="nomeEchopet">EchoPet</p>
            </div>
          </div>
        </div>

        <div class="col-md-3 col-10 offset-md-0 offset-1">
          <div class="card">
            <img src="/img/Produtos/racaoGato.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ração para Gatos Adultos Carne e Vegetais Whiskas</h5>
              <p class="card-text">R$120,00</p>
              <a href="/produto" class="btn btn-primary">Comprar</a>
              <p class="nomeEchopet">EchoPet</p>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card" >
            <img src="/img/Produtos/racaoGato.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ração para Gatos Adultos Carne e Vegetais Whiskas</h5>
              <p class="card-text">R$120,00</p>
              <a href="/produto" class="btn btn-primary">Comprar</a>
              <p class="nomeEchopet">EchoPet</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card" >
            <img src="/img/Produtos/racaoGato.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Ração para Gatos Adultos Carne e Vegetais Whiskas</h5>
              <p class="card-text">R$120,00</p>
              <a href="/produto" class="btn btn-primary">Comprar</a>
              <p class="nomeEchopet">EchoPet</p>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>

  



  <%- include('./partials/novoTesteFooter') %>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>