<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Envio e Pagamento</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../Front-end/resource/style/PaginaEnvioPagamento.css">
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/novoTesteFooter.css">
</head>



<body>

    <%- include('./partials/header) %>

    <div class="container">
        <div class="row">
            <div class="col-12"><label>Envio e Pagamento</label></div>
        </div>
        
        <div class="row">
            <div class="col-4">
                <label class="imagemcaminhao"><img src="../Front-end/resource/img/Login + Pagamento/iconecaminhaoentrega.png" height=35px ></label>
                <span class="tituloentrega">Endereço de Entrega</span>
            </div>
            <div class="col-2">
                <div></div>
            </div>
            <div class="col-md-6" >
                <label class="imagempagamento"><img src="../Front-end/resource/img/Login + Pagamento/icone-pagamentos.png" height=35px ></label>
                <span class="titulopagamento">Forma de Pagamento</span>
            </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <div class="dadosParaEntrega">
                        Digital House
                        <br>
                        Av. Dr. Cardoso de Melo, 90
                        <br>
                        Vila Olímpia
                        <br>
                        CEP:04548-000
                        <br>
                        Telefone:(11) 3500-9839
                    </div>
                    
                </div>
                <div class="col-2"></div>
                <div class="col-md-6">
                    <p class="titulo-pagamentocartao"><strong>Cartão de Crédito</strong></p>
                        <span><input type="checkbox"></span>
                        <span><img src="../Front-end/resource/img/Login + Pagamento/icone-cartaodecredito.jpg" height=20px ></im></span>
           
                    <p class="cartao">Seus cartões de Crédito<label class="nomenocartao">Nome no cartão</label><label class="vencimentocartao">Vencimento</label></p> 
                        
                       <span><img src="../Front-end/resource/img/Login + Pagamento/icone-mastercard.png" height=35px ><label>(Crédito) com final XXX</label><label class="nomeusuariocartao">Usuario da Silva</label><label class="datavencimentocartao">08/2026</label></span> 
                </div>
            </div>
        
                <div class="row">
                    <div class="col-10">
                        <label><input type="checkbox"><label class="checkEnderecoEntrega">Usar esse endereço para entrega</label></label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-5">
                        <p>
                            <button type="button" class="editarEnderecoBotao">Editar ou excluir endereço</button>
                        </p>
                        <p>
                            <button type="button" class="editarEnderecoBotao">Inserir novo endereço</button>
                        </p>
                    </div>
                    <div class="col-1"> </div>

                    <div class="col-md-6">
                        <p class="titulo-pagamentoboleto">Boleto</p>
                        <span><input type="checkbox"></span>
                        <span><img src="../Front-end/resource/img/Login + Pagamento/icone-codigo-de-barras.jpg" height=20px ></im></span>
                        <span>Vencimento em <strong>1 dia útil</strong></span>
                        <p class="imprimir-boleto">Imprima o boleto após a finalização do pedido</p>
                    </div>

                </div>
                <br>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col-2"></div>
                    <div class="col-3">
                        <span><button type="button" class="editarcartao">Editar ou Excluir cartão</button></span>
                    </div>
                    <div class="col-3">
                        <span><button type="button" class="editarcartao">Inserir novo cartão</button></span>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col-12">
                        <button type="button" class="finalizar-compra">Finalizar Compra</button>
                    </div>
                </div>




       
     
   </div>


   <%- include('./partials/novoTesteFooter') %>

   
  </body>

   <br>
   





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>







</html>