<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endereço de entrega</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style/PaginaAlterarEndereco.css">
    <link rel="stylesheet" href="./style/header.css">
    <link rel="stylesheet" href="./style/novoTesteFooter.css">
</head>

<header>
  <header class="papai">
      <div class="logo">
        <img class="logoMain" src="./img/index/EchoPet-logo-white.png" alt="">
      </div>
  
      <div class="formulario1">
        <form class="formulario1a" action="">
          <input class="inputForm" type="text">
        </form>
      </div>
  
      <div class="textoBemVindo1">
        <h3 class="textoHeader">Bem-vindo</h3>
        <p class="textoHeader">Entre ou Cadastre-se</p>
      </div>
  
      <div class="carrinho1">
        <img class="carrinhoHeader" src="./img/index/carrinho.png" alt="">
        <p class="textoHeader">Carrinho Item 0 </p>
      </div>
    </header>
  

</header>

<div class="navA">
<div class="dropdown">
  <img class="btn btn-secondary dropdown-toggle menu-hamburguer" src="./img/index/menu-hamburguer.png"
    type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <p class="animaisMenuHamburguer"> ANIMAIS</p>
    <a class="dropdown-item" href="#">Cachorros</a>
    <a class="dropdown-item" href="#">Gatos</a>
    <a class="dropdown-item" href="#">Pássaros</a>
    <a class="dropdown-item" href="#">Peixes</a>
    <hr>
    <p class="animaisMenuHamburguer" href="#">OUTROS</p>
  </div>
</div>


<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="#">Cupom de desconto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Novidades para seu cachorro</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sobre nós</a>
  </li>
</ul>

</div>

<div>
    
</div>


<body>
    <div class="container">
        <div class="row">
            <div class="col-12">Selecionar um endereço de envio</div>
        </div>
        <div class="row">
            <div class="mensagem">O endereço que deseja usar está exibido abaixo? Se estiver, clique no botão "Enviar para este endereço" ou você pode inserir um novo endereço de envio</div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
            Digital House
              <br>
              Av. Dr. Cardoso de Melo, 90
              <br>
              Vila Olímpia
              <br>
              CEP:04548-000
              <br>
              Telefone:(11) 3500-9839
            </div>
            <div class="col-4">
                <button type="button" class="login-botao">Enviar para este endereço</button>
                <label class="alterar">Alterar</label>
                <label class="excluir">Excluir</label>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <button type="button" class="login-continuar">Continuar</button>
                <label class="finalizar">Você pode revisar esse pedido antes que seja finalizado</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-11">
                <label class="adicionarEndereco">Adicionar um novo endereço</label>
            </div>
         </div>

         <div class="row">
            <div class="col-10">
                
                <form>
                    <div class="form-row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Nome">
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Sobrenome">
                      </div>
                    </div>
                  </form>
                
                  <form>
                    <div class="form-row">
                      <div class="col-9">
                        <input type="text" class="form-control" placeholder="Endereço">
                      </div>
                      <div class="col-2">
                        <input type="text" class="form-control" placeholder="Numero">
                      </div>
                      <div class="col-1">
                        <input type="text" class="form-control" placeholder="Apto.">
                      </div>
                      <div class="col-6">
                        <input type="text" class="form-control" placeholder="Cidade">
                      </div>
                      <div class="col-6">
                        <input type="text" class="form-control" placeholder="Estado">
                      </div>
                    </div>
                  </form>

                  <form>
                    <div class="form-row">
                      <div class="col-2">
                        <input type="text" class="form-control" placeholder="Telefone">
                      </div>
                      <div class="col-2">
                        <input type="text" class="form-control" placeholder="Celular">
                      </div>
                    </div>
                  </form>

                  <form>
                    <div class="form-row">
                      <div class="col-2">
                        <input type="text" class="form-control" placeholder="CEP">
                      </div>

                      <div class="col-2">
                        <label class="icone-correio"><img src="../Front-end/resource/img/Login + Pagamento/iconecorreios.jpg" height=45px ></label>
                      </div>

                      <div class="col-2">
                        <label class="buscarCep" href=# >Buscar CEP</label>
                      </div>

                      <div class="col-2">
                        <button type="button" class="adicionar-enderecoBotao">Adicionar Endereço</button>
                      </div>
                    

                    </div>
                  </form>

                  
            </div>
            
                
                               
           
         </div>

     
   </div>


   <br>
   
   <footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4 class="titulo-redes-sociais"> Redes Sociais: </h4>
                <a target="_blank" href="#">
                <img src="/img/footer/facebook.png" alt="link facebook" class="logo-facebook">
                </a>
                <a target="_blank" href="#">
                <img src="/img/footer/logo-instagram.png" alt="link instagram" class="logo-instagram">
                </a>
                <a target="_blank" href="#">
                <img src="/img/footer/twitter-logo-1.png" alt="link twitter" class="logo-twitter">
                </a>
            </div>
            <div class="col-6">
                <h4 class="faca-parte"> Faça parte da EchoPet: </h4>
                <form class="form-inline" action="" method="">
                    <div class="form-group mx-sm-3 mb-2">
                    <input type="email" class="form-control" id="staticEmail2" placeholder="email@example.com" name="email" value="">
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" id="emailFooter"> Enviar </button>
                </form>
            </div>
            <div class="col">
                <div class="sobre_Echopet"> 
                    <h4>Sobre a EchoPet</h4>
                    <a href="./sobreNos.html" title="Sobre nos"> Sobre nos </a>
                    <a href="./politica-termos.html" title="Politica e Privacidade"> Politica e Privacidade </a>
                    <a href="./politica-termos.html" title="Termos de Uso"> Termos de Uso </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p> CNPJ: 00.000.000/0001-00 </p> 
                <a href="./trocas-dev.html" title="Trocas e Devolucoes"> Trocas e Devolucoes </a>
                <br>
                <a href="./index.html" title="Promocoes - Pagina Inicial"> Promoções </a>
            </div>
            <div class="col-5">
                <p class="contato"> pi.ecommerce.pet@echopet.com   |   (11) 91111-1111 </p>
            </div>
            <div class="col logo_pequeno">
                <img src="/img/footer/EchoPet-logo-white.png" alt="logo-EchoPet" class="logo">
            </div>
        </div>
    </div>
</footer>
<footer class="footer-II">
    <div class="container">
        <div class="row">
        <div class="col-sm certificacao">
            <img src="/img/footer/certificadoseguranca.png" alt="Certificado de Segurança" class="certificado_seguranca">
            <img src="/img/footer/siteseguro.png" alt="Certificado de Segurança" class="site_seguro">
        </div>
        <div class="col-sm copyrigh">
            Copyrigh @EchoPet 2020
        </div>
        <div class="col-sm logos_cartoes">
            <img src="/img/footer/elo_logo-baixa.png" alt="Logo Elo" class="logo_elo">
            <img src="/img/footer/Logo_PagSeguro.png" alt="Logo Pag Seguro" class="logo_pagseguro">
            <img src="/img/footer/mastercard-logo.png" alt="Logo Mastercard" class="logo_mastercard">
            <img src="/img/footer/visa-logo-5.png" alt="Logo Visa" class="logo_visa">
        </div>
        </div>
    </div>
    <script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js " > </script> 
    <script src="/javascripts/footer.js"></script>
</footer>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>





</html>