<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/index/EchoPet-logo-preto.png">
    <title>Login | EchoPet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/PaginaLogin.css">

</head>


<body>
  
<%- include('./partials/header') %>

<div class="caixa">




   <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-4">
                <form>
                    <h1 class="text-left">Faça seu Login</h1>
                    <label class="formulario" for="email">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="Digite seu E-mail">
                    <br>
                    <label class="formulario" for="senha">Senha</label>
                    <input type="password" class="form-control" name="senha" placeholder="Digite sua senha">
                    <label class="small-text"><input type="checkbox">Lembrar senha</label>
                   <a href="#"> <label class="recuperar-senha" >Esqueci a senha</label> </a> 
                    </br>
                    <button type="button" class="login-botao">Fazer Login</button>
                    <br>
                    <div>
                        <button type="button" class="login-facebook"><span ><img src="./img/Login + Pagamento/logo-facebook.jpg" height=15px> </span>Fazer Login com Facebook</button>
                    </div>
                    <div>
                        <button type="button" class="login-google"><span ><img src="./img/Login + Pagamento/google.png" height=15px> </span>Fazer Login com o Google</button>
                    </div>
                </form>
            </div>













            <div class="col-md-2"></div>
            <div class="col-md-4">
                <form action= "/login" method="POST">
                    <h1 class="text-left2">Criar conta</h1>
                    <label class="formulario" for="nome">Nome</label>
                    <input type="text" class="form-control" name="name" id="name" >
                    <br>
                    <label class="formulario" for="email">E-mail</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Digite seu E-mail">
                    <br>
                    <label class="formulario" for="senha">Senha</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Pelo menos 6 caracteres">
                    <br>
                    <a href="/alterarEndereco"> Cadastrar endereço</a>
                    <button type="button" class="login-botao">Criar sua conta da EchoPet</button>
                    </form>
            </div>
            <div class="col-md-1"></div>
        </div>
   </div>




   <br>
   
</div>
   
<%- include('./partials/novoTesteFooter') %>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>





</html>