<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/index/EchoPet-logo-preto.png">
    <title>Endereço de entrega</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./style/PaginaAlterarEndereco.css">
    <link rel="stylesheet" href="./style/header.css">
    <link rel="stylesheet" href="./style/novoTesteFooter.css">
</head>

<%- include('./partials/header') %>


<body>
    <div class="container">
        <div class="row">
            <div class="col-12">Selecionar um endereço de envio</div>
        </div>
        <div class="row">
            <div class="mensagem">O endereço que deseja usar está exibido abaixo? Se estiver, clique no botão "Enviar para este endereço" ou você pode inserir um novo endereço de envio</div>
        </div>
        <br>
        <div class="row">
            <div class="col-4">
            Digital House
              <br>
              Av. Dr. Cardoso de Melo, 90
              <br>
              Vila Olímpia
              <br>
              CEP:04548-000
              <br>
              Telefone:(11) 3500-9839
            </div>
            <div class="col-4">
                <button type="button" class="login-botao">Enviar para este endereço</button>
                <label class="alterar">Alterar</label>
                <label class="excluir">Excluir</label>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <button type="button" class="login-continuar">Continuar</button>
                <label class="finalizar">Você pode revisar esse pedido antes que seja finalizado</label>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-11">
                <label class="adicionarEndereco">Adicionar um novo endereço</label>
            </div>
         </div>

         <div class="row">
            <div class="col-10">
                
                <form>
                    <div class="form-row">
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Nome">
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" placeholder="Sobrenome">
                      </div>
                    </div>
                  </form>
                
                  <form>
                    <div class="form-row">
                      <div class="col-9">
                        <input type="text" class="form-control" placeholder="Endereço">
                      </div>
                      <div class="col-2">
                        <input type="text" class="form-control" placeholder="Numero">
                      </div>
                      <div class="col-1">
                        <input type="text" class="form-control" placeholder="Apto.">
                      </div>
                      <div class="col-6">
                        <input type="text" class="form-control" placeholder="Cidade">
                      </div>
                      <div class="col-6">
                        <input type="text" class="form-control" placeholder="Estado">
                      </div>
                    </div>
                  </form>

                  <form>
                    <div class="form-row">
                      <div class="col-2">
                        <input type="text" class="form-control" placeholder="Telefone">
                      </div>
                      <div class="col-2">
                        <input type="text" class="form-control" placeholder="Celular">
                      </div>
                    </div>
                  </form>

                  <form>
                    <div class="form-row">
                      <div class="col-2">
                        <input type="text" class="form-control" placeholder="CEP">
                      </div>

                      <div class="col-2">
                        <label class="icone-correio"><img src="../Front-end/resource/img/Login + Pagamento/iconecorreios.jpg" height=45px ></label>
                      </div>

                      <div class="col-2">
                        <label class="buscarCep" href=# >Buscar CEP</label>
                      </div>

                      <div class="col-2">
                        <button type="button" class="adicionar-enderecoBotao">Adicionar Endereço</button>
                      </div>
                    

                    </div>
                  </form>

                  
            </div>
            
                
                               
           
         </div>

     
   </div>


   <br>
   
   <%- include('./partials/novoTesteFooter') %>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>





</html>