<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/index/EchoPet-logo-preto.png">
    <title>Finalizar Pedido</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style/PaginaFinalizarPedido.css">
    
</head>




<body>

    <%- include('./partials/header') %>



    <div class="container">
        <div class="row">
            <div class="col-12"><label class="finalizeseupedido">Finalize seu pedido</label></div>
        </div>
        <div class="row">
            <div class="col-9"><label></label></div>
            <div class="col-3">
                <a href="/confirmPagamento"><button type="button" class="login-confirmar">Confirmar Pedido</button></a>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label class="tituloentrega">Endereço Selecionado</label>
            </div>
            <div class="col-5"><label></label></div>
            <div class="col-3">
                <label class="resumopedido">Resumo do Pedido</label>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label class="detalheendereco">
                    Digital House
                    <br>
                    Av. Dr. Cardoso de Melo, 90
                    <br>
                    Vila Olímpia
                    <br>
                    CEP:04548-000
                    <br>
                    Telefone:(11) 3500-9839
                </label>
            </div>
            <div class="col-5"><label></label></div>
            <div class="col-1"><label></label></div>
            <div class="col-3">
                <p class="subtotal">Subtotal:<label class="valorsubtotal">R$330,00</label></p> 
                <p class="frete">Frete:<label class="valorfrete">R$9,90</label></p> 
                <p class="linha-horizontal"></p>
                <p class="totalpedido">Total do Pedido:<label class="valortotalpedido">R$339,90</label></p> 
            </div>
        </div>
        <br>
        
        <div class="row">
            <div class="col-11">
                <label class="tituloentrega">Forma de pagamento selecionada</label>
            </div>
            <div class="col-1"><label></label></div>
        </div>
        <div class="row" >
            <div class="col-md-6">
                <p class="titulo-pagamentocartao"><strong>Cartão de Crédito</strong></p>
                        <span><input type="checkbox"></span>
                        <span><img src="./img/Login + Pagamento/icone-cartaodecredito.jpg" height=20px ></im></span>
                        <p class="cartao">Seus cartões de Crédito<label class="nomenocartao">Nome no cartão</label><label class="vencimentocartao">Vencimento</label></p> 
                        <span><img src="./img/Login + Pagamento/icone-mastercard.png" height=35px ><label>(Crédito) com final XXX</label><label class="nomeusuariocartao">Usuario da Silva</label><label class="datavencimentocartao">08/2026</label></span> 
            </div>
            
        </div>
    </div>
       

   <br>
   

   <%- include('./partials/novoTesteFooter') %>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>





</html>