<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="resource/img/index/EchoPet-logo-preto.png">
    <title> Politica e Termos </title>
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/style/politica-termos.css">
    <link rel="stylesheet" href="/style/novoTesteFooter.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>


    <!-- HEADER -->
  

      <!--HEADER-->
      <header class="papai">
        <div class="logo">
          <img class="logoMain" src="./img/index/EchoPet-logo-white.png" alt="">
        </div>
    
        <div class="formulario1">
          <form class="formulario1a" action="">
            <input class="inputForm" type="text">
          </form>
        </div>
    
        <div class="textoBemVindo1">
          <h3 class="textoHeader">Bem-vindo</h3>
          <p class="textoHeader">Entre ou Cadastre-se</p>
        </div>
    
        <div class="carrinho1">
          <img class="carrinhoHeader" src="./img/index/carrinho.png" alt="">
          <p class="textoHeader">Carrinho Item 0 </p>
        </div>
      </header>
    
    
    
      <!--Menu2 -->
      <div class="navA">
        <div class="dropdown">
          <img class="btn dropdown-toggle menu-hamburguer" src="./img/index/menu-hamburguer.png"
            type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <p class="animaisMenuHamburguer"> ANIMAIS</p>
            <a class="dropdown-item" href="#">Cachorros</a>
            <a class="dropdown-item" href="#">Gatos</a>
            <a class="dropdown-item" href="#">Pássaros</a>
            <a class="dropdown-item" href="#">Peixes</a>
            <hr>
            <p class="animaisMenuHamburguer" href="#">OUTROS</p>
          </div>
        </div>
    
    
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Cupom de desconto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Novidades para seu cachorro</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre nós</a>
          </li>
        </ul>
    
      </div>
    
    
    
    



  <!-- POLITICAS E PRIVACIDADE / TERMOS DE USO -->

  <div class="container termos_politicas">
    <div class="row termos-pol">
      <!-- class flex=smcolumn -->
      <div class="col">
        <article>
          <div>
              <h2> Termos de Uso: </h2>
              <p> Reservamo-nos o direito de fazer mudanças nos serviços, produtos, preços, qualidades, quantidades, informações e quaisquer outros materiais, bem como encerrar suas atividades a qualquer momento sem a necessidade de enviar qualquer notificação prévia a você, e sem que isso lhe caiba o direito de a qualquer indenização. Você é responsável por quaisquer ações que possam ocorrer enquanto utilizar a sua conta EchoPet. Proteja o seu nome de usuário/senha e não permita que nenhuma outra pessoa utilize os seus dados para acessar a Plataforma. A EchoPet não se responsabiliza por qualquer prejuízo resultante do uso não autorizado do seu nome de usuário/senha, com ou sem o seu conhecimento. </p>
          </div>
      </article>
      </div>
      <div class="col">
        <article>
          <div>
              <h2> Politica e Privacidade: </h2>
              <p>  Por favor, leia atentamente este Termo de Uso, pois é o documento que regulará a conduta no uso deste site. Ao utilizar nossa loja virtual, você estará aderindo a todos os termos e concordando, expressamente, com as condições previstas para a sua utilização. Cookies são identificações da interação com nosso site ou nossas publicidades, que são transferidas para o aparelho do cliente visando reconhecê-lo na próxima navegação. Utilizamos cookies para proporcionar uma melhor experiência em nossa loja e viabilizar recursos personalizados, como recomendações de produtos, publicidades e informações adicionais de itens de interesse do cliente, por exemplo. </p>
          </div>
      </article>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <article>
          <div>
              <h2> Insenção de Responsabilidade: </h2>
              <p> Nós e nossos prepostos não se responsabilizarão por qualquer perda ou dano, direto ou indireto, que decorram de: (a) qualquer imprecisão ou falta de complemento das informações, atrasos, interrupções, erros ou omissões no fornecimento dos dados contidos neste site; (b) qualquer decisão ou ação tomada pelo usuário ou terceiros, com base nestas informações. Caso necessite a troca de algum produto nos aponte o motivo para avaliarmos, para isso <a href="./trocas-dev.html"> clique aqui</a>, esse link te levará á tela de Trocas e Devoluções. </p>
          </div>
      </article>
      </div>
      <div class="col">
        <article>
          <div>
              <h2> Sobre o cadastro: </h2>
              <p> O cadastro é necessário para a realização de compras neste site. Desde já, fica acordado que os dados pessoais fornecidos no cadastro eletrônico são verdadeiros e próprios, e que você responderá por todos os prejuízos e/ou perdas que a falsidade das informações possa implicar. Muitos de nossos serviços exigem que o cliente tenha um cadastro com uma conta de usuário. Ao se cadastrar, coletamos seu nome, e-mail, endereço de entrega e cobrança, telefone para contato, CPF, RG, data de nascimento, sexo, preferência de produtos, dados relativos ao animal. O cliente que optar por não fornecer todas estas informações é possível que não usufrua de todos os recursos que a EchoPet oferece.</p>
          </div>
      </article>
      </div>
    </div>
  </div>
  

    <!-- <main>
        <section>
            <article>
                <div>
                    <h2> Termos de Uso: </h2>
                    <p> Reservamo-nos o direito de fazer mudanças nos serviços, produtos, preços, qualidades, quantidades, informações e quaisquer outros materiais, bem como encerrar suas atividades a qualquer momento sem a necessidade de enviar qualquer notificação prévia a você, e sem que isso lhe caiba o direito de a qualquer indenização. </p>
                </div>
            </article>

            <article>
                <div>
                    <h2> Politica e Privacidade: </h2>
                    <p>  Por favor, leia atentamente este Termo de Uso, pois é o documento que regulará a conduta no uso deste site. Ao utilizar nossa loja virtual, você estará aderindo a todos os termos e concordando, expressamente, com as condições previstas para a sua utilização. </p>
                </div>
            </article>

            <article>
                <div>
                    <h2> Insenção de Responsabilidade: </h2>
                    <p> Nós e nossos prepostos não se responsabilizarão por qualquer perda ou dano, direto ou indireto, que decorram de: (a) qualquer imprecisão ou falta de complemento das informações, atrasos, interrupções, erros ou omissões no fornecimento dos dados contidos neste site; (b) qualquer decisão ou ação tomada pelo usuário ou terceiros, com base nestas informaçõe </p>
                </div>
            </article>

            <article>
                <div>
                    <h2> Sobre o cadastro: </h2>
                    <p> O cadastro é necessário para a realização de compras neste site. Desde já, fica acordado que os dados pessoais fornecidos no cadastro eletrônico são verdadeiros e próprios, e que você responderá por todos os prejuízos e/ou perdas que a falsidade das informações possa implicar. </p>
                </div>
            </article>
        </section>
    </main> -->
    



    <!-- FOOTER -->
    
    <footer class="footer">
      <div class="container">
          <div class="row">
              <div class="col">
                  <h4 class="titulo-redes-sociais"> Redes Sociais: </h4>
                  <a target="_blank" href="#">
                  <img src="/img/footer/facebook.png" alt="link facebook" class="logo-facebook">
                  </a>
                  <a target="_blank" href="#">
                  <img src="/img/footer/logo-instagram.png" alt="link instagram" class="logo-instagram">
                  </a>
                  <a target="_blank" href="#">
                  <img src="/img/footer/twitter-logo-1.png" alt="link twitter" class="logo-twitter">
                  </a>
              </div>
              <div class="col-6">
                  <h4 class="faca-parte"> Faça parte da EchoPet: </h4>
                  <form class="form-inline" action="" method="">
                      <div class="form-group mx-sm-3 mb-2">
                      <input type="email" class="form-control" id="staticEmail2" placeholder="email@example.com" name="email" value="">
                      </div>
                      <button type="submit" class="btn btn-primary mb-2" id="emailFooter"> Enviar </button>
                  </form>
              </div>
              <div class="col">
                  <div class="sobre_Echopet"> 
                      <h4>Sobre a EchoPet</h4>
                      <a href="./sobreNos.html" title="Sobre nos"> Sobre nos </a>
                      <a href="./politica-termos.html" title="Politica e Privacidade"> Politica e Privacidade </a>
                      <a href="./politica-termos.html" title="Termos de Uso"> Termos de Uso </a>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <p> CNPJ: 00.000.000/0001-00 </p> 
                  <a href="./trocas-dev.html" title="Trocas e Devolucoes"> Trocas e Devolucoes </a>
                  <br>
                  <a href="./index.html" title="Promocoes - Pagina Inicial"> Promoções </a>
              </div>
              <div class="col-5">
                  <p class="contato"> pi.ecommerce.pet@echopet.com   |   (11) 91111-1111 </p>
              </div>
              <div class="col logo_pequeno">
                  <img src="/img/footer/EchoPet-logo-white.png" alt="logo-EchoPet" class="logo">
              </div>
          </div>
      </div>
  </footer>
  <footer class="footer-II">
      <div class="container">
          <div class="row">
          <div class="col-sm certificacao">
              <img src="/img/footer/certificadoseguranca.png" alt="Certificado de Segurança" class="certificado_seguranca">
              <img src="/img/footer/siteseguro.png" alt="Certificado de Segurança" class="site_seguro">
          </div>
          <div class="col-sm copyrigh">
              Copyrigh @EchoPet 2020
          </div>
          <div class="col-sm logos_cartoes">
              <img src="/img/footer/elo_logo-baixa.png" alt="Logo Elo" class="logo_elo">
              <img src="/img/footer/Logo_PagSeguro.png" alt="Logo Pag Seguro" class="logo_pagseguro">
              <img src="/img/footer/mastercard-logo.png" alt="Logo Mastercard" class="logo_mastercard">
              <img src="/img/footer/visa-logo-5.png" alt="Logo Visa" class="logo_visa">
          </div>
          </div>
      </div>
      <script src = " https://unpkg.com/sweetalert/dist/sweetalert.min.js " > </script> 
      <script src="/javascripts/footer.js"></script>
  </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>
</html>