<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./img/index/EchoPet-logo-preto.png">
  <title>Produto</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="./style/header.css">
  <link rel="stylesheet" href="./style/Produto-01.css">
  <link rel="stylesheet" href="./style/novoTesteFooter.css">
</head>

<body>

  <!--HEADER-->
  
<%- include('./partials/header') %>


  <main>


    <div class="container">
      <div class="row" id="linkRef">
        <div class="col-md-12">
          <a href="http://">Alimentos</a><span> > </span>
          <a href="http://">Rações</a><span> > </span>
          <a href="http://">Cachorros</a>
        </div>
      </div><br>

      <div class="row">
        <div class="col-2">
          <img src="/img/Produtos/racaoPedrigree.jpg" alt="..." class="img-thumbnail">
        </div>

        <div class="col-md-6">

          <h3>Ração Pedigree - Cães filhotes - 15 kg</h3>
          <p>Código: 101010</p>
          <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
          <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
          <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
          <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao"><br><br>
          <p><strong>Disponibilidade:<span id="estadoDisp"> Em estoque</span></strong></p>
        </div>

        <div class="col-md-4">
          <div class="card w-75">
            <div class="card-body">
              <h5 class="card-title">Valor:</h5>
              <p class="card-text">R$ 290,00</p>
              <p class="card-text"><strong>Quantidade: 2</strong></p>
              <p class="card-text"><strong>Frete: </strong><a href="http://" #id="calcFrete">Calcular
                  Frete</a></p>
              <a href="#" class="btn btn-primary">Adicionar ao carrinho</a>
            </div>
          </div>
        </div>
      </div><br><br>

      <div class="row">
        <div class="col-12">
          <h4>Características:</h4>
          <ul>
            <li>Indicada para cães filhotes;</li>
            <li>Controla o volume de fezes;</li>
            <li>Nutrientes para um desenvolvimento saudável,</li>
            <li>Disponível em embalagens de 15kg.</li>
          </ul>
        </div>
      </div><br>

      <div class="row">
        <div class="col-md-6">
          <h4>Especifícações:</h4>
          <p>Linha: Premium<br>
            Indicação: Alimentação diária de cães filhotes<br>
            Pet: Cachorros<br>
            Porte de Raça: Pequeno, Médio e Grande<br>
            Idade: Filhote<br>
            Sabor: Frango e Carne<br>
            Composição: Farinha de vísceras de frango, farinha de carne, milho integral moído, quirera de
            arroz gordura de frango, farelo de arroz desengordurado, hidrolisado de frango, premix
            vitamínico mineral, cloreto de sódio, cloreto de potássio, parede celular de levedura,
            antioxidantes BHA e BHT. <br>
            Tipo: Rações Secas <br>
            Código de barras: 7897348203162<br></p>
        </div>
        <div class="col-md-6">
          <h4 id="comentarios">Comentários de clientes</h4>
          <section>
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <p>Produto de excelente qualidade!<br>
              <strong>Marcelo Luis</strong></p>
          </section>

          <section>
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <p>Ótimo custo-benefício, super recomendo.<br>
              <strong>Monica Santos</strong></p>
          </section>

          <section>
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <img src="/img/Produtos/icon-star.png" alt="..." class="img-thumbnail" id="avaliacao">
            <p>Meu cachorro adorou a ração, recomendo!<br>
              <strong>Lucas Rocha</strong></p>
          </section>
        </div>
      </div><br><br>

    </div>

  </main>



 
<%- include('./partials/novoTesteFooter') %>




  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>