<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="resource/img/index/EchoPet-logo-preto.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="resource/style/header.css">
    <link rel="stylesheet" href="resource/style/trocasDev.css">
    <link rel="stylesheet" href="resource/style/novoTesteFooter.css">
    <title>Trocas e Devoluções</title>
</head>

<body>


    <!--HEADER-->
    <header class="papai">
        <div class="logo">
            <img class="logo" src="./resource/img/index/EchoPet-logo-white.png" alt="">
        </div>

        <div class="formulario1">
            <form class="formulario1a" action="">
                <input class="inputForm" type="text">
            </form>
        </div>

        <div class="textoBemVindo1">
            <h3 class="textoHeader">Bem-vindo</h3>
            <p class="textoHeader">Entre ou Cadastre-se</p>
        </div>

        <div class="carrinho1">
            <img class="carrinhoHeader" src="./resource/img/index/carrinho.png" alt="">
            <p class="textoHeader">Carrinho Item 0 </p>
        </div>
    </header>

    <!--Menu2 -->
    <div class="navA">
        <div class="dropdown">
            <img class="btn btn-secondary dropdown-toggle menu-hamburguer"
                src="./resource/img/index/menu-hamburguer.png" type="button" id="dropdownMenuButton"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <p class="animaisMenuHamburguer"> ANIMAIS</p>
                <a class="dropdown-item" href="#">Cachorros</a>
                <a class="dropdown-item" href="#">Gatos</a>
                <a class="dropdown-item" href="#">Pássaros</a>
                <a class="dropdown-item" href="#">Peixes</a>
                <hr>
                <p class="animaisMenuHamburguer" href="#">OUTROS</p>
            </div>
        </div>


        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Cupom de desconto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Novidades para seu cachorro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre nós</a>
            </li>
        </ul>

    </div>

    <!--CORPO DA TELA-->


    <div class="image_descriton">


        <img src="./resource/img/trocas-dev/backgroundPets 1.png" alt="Logo EchoPet" class="logo_fundo">



    </div>



    <div class="container">
        <div class="row">
            <div class="left">

                <form action="">
                    <h4> Solicitar Vale Troca: </h4>
                    <select name="trocas" id="trocas">
                        <option selected disabled> Motivo </option>
                        <option value="Arrependimento"> DEVOLUÇÃO POR ARREPENDIMENTO OU DESISTÊNCIA </option>
                        <option value="PedidoCancelado"> RESSARCIMENTO DE VALOR DE PEDIDO CANCELADO </option>
                        <option value="ModeloDivergente"> TROCA DO PRODUTO – DIVERGÊNCIA DO MODELO </option>
                        <option value="Defeito"> TROCA DO PRODUTO COM DEFEITO </option>
                    </select>

                    <br><br>

                    <input type="text" id="pedido" name="pedido" placeholder="N° do pedido" required>

                    <a href=""><img href="" src="./resource/img/trocas-dev/paw.png" alt="button" class="button"> </a>
                </form>

            </div>



            <!-- <div class = "background" >
                            <img src="./resource/img/trocas-dev/EchoPet-logo-preto.png" class="background_logo">
                        </div> -->

            <div class="right">

                <form action="">
                    <h4 class="descricao">Caso deseje a devolução do valor,<br> envie-nos um e-mail <br> para que
                        possamos
                        analisar o caso e dar prosseguimento</h4>
                    <!-- <input type="email" id="email" name="email" placeholder="seuemail@exemplo.com" required> -->
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">@</span>
                        </div>
                        <input type="email" class="form-control" cols="30" placeholder="seuemail@email.com"
                            aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <br>
                    <textarea name="mensagem" id="mensagem" cols="70" rows="10"
                        placeholder="Nos explique melhor"></textarea>
                    <br>
                    <button type="button" class="btn btn-primary btn-sm">Enviar</button>
                    <button type="button" class="btn btn-secondary   btn-sm">Cancelar</button>

                    <!-- <button type="submit"> Enviar </button>
                                <button type="reset"> Cancelar </button> -->
                </form>
            </div>
        </div>
    </div>
    <!--FOOTER-->


    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h4 class="titulo-redes-sociais"> Redes Sociais: </h4>
                    <a target="_blank" href="#">
                        <img src="resource/img/footer/facebook.png" alt="link facebook" class="logo-facebook">
                    </a>
                    <a target="_blank" href="#">
                        <img src="resource/img/footer/logo-instagram.png" alt="link instagram" class="logo-instagram">
                    </a>
                    <a target="_blank" href="#">
                        <img src="resource/img/footer/twitter-logo-1.png" alt="link twitter" class="logo-twitter">
                    </a>
                </div>
                <div class="col-6">
                    <h4 class="faca-parte"> Faça parte da EchoPet: </h4>
                    <form class="form-inline" action="" method="">
                        <div class="form-group mx-sm-3 mb-2">
                            <input type="email" class="form-control" id="staticEmail2" placeholder="email@example.com"
                                name="email" value="">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2" id="emailFooter"> Enviar </button>
                    </form>
                </div>
                <div class="col">
                    <div class="sobre_Echopet">
                        <h4>Sobre a EchoPet</h4>
                        <a href="./sobreNos.html" title="Sobre nos"> Sobre nos </a>
                        <a href="./politica-termos.html" title="Politica e Privacidade"> Politica e Privacidade </a>
                        <a href="./politica-termos.html" title="Termos de Uso"> Termos de Uso </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p> CNPJ: 00.000.000/0001-00 </p>
                    <a href="./trocas-dev.html" title="Trocas e Devolucoes"> Trocas e Devolucoes </a>
                    <br>
                    <a href="./index.html" title="Promocoes - Pagina Inicial"> Promoções </a>
                </div>
                <div class="col-5">
                    <p class="contato"> pi.ecommerce.pet@echopet.com | (11) 91111-1111 </p>
                </div>
                <div class="col logo_pequeno">
                    <img src="resource/img/footer/EchoPet-logo-white.png" alt="logo-EchoPet" class="logo">
                </div>
            </div>
        </div>
    </footer>
    <footer class="footer-II">
        <div class="container">
            <div class="row">
                <div class="col-sm certificacao">
                    <img src="resource/img/footer/certificadoseguranca.png" alt="Certificado de Segurança"
                        class="certificado_seguranca">
                    <img src="resource/img/footer/siteseguro.png" alt="Certificado de Segurança" class="site_seguro">
                </div>
                <div class="col-sm copyrigh">
                    Copyrigh @EchoPet 2020
                </div>
                <div class="col-sm logos_cartoes">
                    <img src="resource/img/footer/elo_logo-baixa.png" alt="Logo Elo" class="logo_elo">
                    <img src="resource/img/footer/Logo_PagSeguro.png" alt="Logo Pag Seguro" class="logo_pagseguro">
                    <img src="resource/img/footer/mastercard-logo.png" alt="Logo Mastercard" class="logo_mastercard">
                    <img src="resource/img/footer/visa-logo-5.png" alt="Logo Visa" class="logo_visa">
                </div>
            </div>
        </div>
        <script src=" https://unpkg.com/sweetalert/dist/sweetalert.min.js "> </script>
        <script src="resource/javascripts/footer.js"></script>
    </footer>



</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</html>