<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/index/EchoPet-logo-preto.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/trocasDev.css">
    <title>Trocas e Devoluções</title>
</head>

<body>


    
    <!--HEADER-->


   
<%- include('./partials/header') %>




    <!--CORPO DA TELA-->


    <div class="image_descriton">


        <img src="./img/trocas-dev/backgroundPets 1.png" alt="Logo EchoPet" class="logo_fundo">



    </div>



    <div class="container">
        <div class="row">
            <div class="left">

                <form action="">
                    <h4> Solicitar Vale Troca: </h4>
                    <select name="trocas" id="trocas">
                        <option selected disabled> Motivo </option>
                        <option value="Arrependimento"> DEVOLUÇÃO POR ARREPENDIMENTO OU DESISTÊNCIA </option>
                        <option value="PedidoCancelado"> RESSARCIMENTO DE VALOR DE PEDIDO CANCELADO </option>
                        <option value="ModeloDivergente"> TROCA DO PRODUTO – DIVERGÊNCIA DO MODELO </option>
                        <option value="Defeito"> TROCA DO PRODUTO COM DEFEITO </option>
                    </select>

                    <br><br>

                    <input type="text" id="pedido" name="pedido" placeholder="N° do pedido" required>

                    <a href=""><img href="" src="./img/trocas-dev/paw.png" alt="button" class="button"> </a>
                </form>

            </div>



            <!-- <div class = "background" >
                            <img src="./resource/img/trocas-dev/EchoPet-logo-preto.png" class="background_logo">
                        </div> -->

            <div class="right">

                <form action="">
                    <h4 class="descricao">Caso deseje a devolução do valor,<br> envie-nos um e-mail <br> para que
                        possamos
                        analisar o caso e dar prosseguimento</h4>
                    <!-- <input type="email" id="email" name="email" placeholder="seuemail@exemplo.com" required> -->
                    <div class="input-group flex-nowrap">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="addon-wrapping">@</span>
                        </div>
                        <input type="email" class="form-control" cols="30" placeholder="seuemail@email.com"
                            aria-label="Username" aria-describedby="addon-wrapping">
                    </div>
                    <br>
                    <textarea name="mensagem" id="mensagem" cols="70" rows="10"
                        placeholder="Nos explique melhor"></textarea>
                    <br>
                    <button type="button" class="btn btn-primary btn-sm">Enviar</button>
                    <button type="button" class="btn btn-secondary   btn-sm">Cancelar</button>

                    <!-- <button type="submit"> Enviar </button>
                                <button type="reset"> Cancelar </button> -->
                </form>
            </div>
        </div>
    </div>


    <!--FOOTER-->


   
<%- include('./partials/novoTesteFooter') %>



</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</html>