/*Zerando a página toda*/

body{
    margin:0px;
    padding: 0px;
}

/*Header*/
.papai{
    display: flex;
    background-color: #000000;
}

.logo{
    width: 250px;  
}


.formulario1a{
    height: 100px;

    padding: 71px;  
    width: 800px;
}


.inputForm{
    width: 615px;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 18px;

    height: 40px;
}

.textoBemVindo1{
    height: 100px;
    padding: 50px;

    width: 300px;
}

.textoHeader{
    color: white;
}

.carrinho1{
    height: 100px;
    padding: 29px;
}

.carrinhoHeader{
    height: 62px;
}



/*Segundo header azul*/
.navA {
    justify-content: space-evenly;;
    display: flex;
    margin:0px;
    padding: 0px;
    background-color: #00072D;
}


.nav-link{
    color: white;
    text-decoration:none;

    font-size: 20px;
}

.nav-link:hover{
    color: orange;
}


/*Menu Hamburguer*/
.element.style { /*Itens do menu*/
    position: absolute;
    top: 5px;
    left: 4px;
    transform: translate3d(0px, 44px, 8px);
    
    height: 429px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 21;

    font-size: 30px;
}

.animaisMenuHamburguer{
    font-weight: bold;
    font-size: 30px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 20rem;
    padding: 3.5rem 0;
    margin: .125rem 0 0;
    font-size: 6rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 6px solid rgba(0,0,0,.15);
    border-radius: 2.25rem;
}

.menu-hamburguer{
    width: 60px;
    
    padding: 0px;
}

.btn-secondary {
    color: #fff; 
    background-color: #00072D;
    border-color: #00072D;
}





/*MAIN*/
.h1-main{
    text-align: center;
    font-weight: bold;

    
    margin: 45px
}


/*Container produto*/
/*Valor do produto*/
.card-text{
    font-size: 30px;
    text-align: center;
}

.nomeEchopet{
    font-size: 10px;
    margin:0 50px;
    color: darkgray;
}



/*Cupom de desconto*/
.desconto10Porcento{
text-align: center;

background: #f1f1f1;
border: 2px solid #000000;

border-radius: 31px;
margin: 60px;
padding: 10px;
}


.cumpomDescontoTextoNormal{
    font-weight: bold;
    font-size: 20px ;
}
.cupomPetiscao{
    color: orange;
    font-weight: bold;
    font-size: 40px
}


/*Empresas em destaque*/
/*Logo de empresas*/
.logoMarcas{
    display: flex;
    justify-content: center;
}



.logoMarcas .pedigree{
    width: 20%;
    height: 90%;
}


.logoMarcas .doChow{
    width: 20%;
    height: 90%;
}

.logoMarcas .purina{
    width: 20%;
    height: 75%;
}











/*Testes de responsividade*/
@media (min-width: 770px){
    .container .container-lg .container-md .container-sm {
        max-width: 849px;
    }

    }

@media (min-width: 992px){
.container .container-lg .container-md .container-sm {
    max-width: 960px;
}
}


@media (max-width: 998px) {
    
      .desconto10Porcento{
        text-align: center;
        
        background: #ffffff;
        border: 1px solid #000000;
        
        margin: 10px;
        
        padding: 10px;
        }


        .cupomPetiscao{
            color: orange;
            font-weight: bold;
            font-size: 25px;
        }

    }
  
