.containerFormaPagamento{
    margin-top: 3%;
}

.cartaoExistente {
    border: 1px solid rgb(182, 178, 178);
    margin-top: 2%;
    margin-bottom: 5%;
    padding: 1%;
    width: 70%;
    height: 25vh;
}

p{
    margin-bottom: 0;
    font-style: unset;
}

h4{
    margin-top: 5%;
}

#checkCartao{
    margin-bottom: 1%;
}
