*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto'; 
    box-sizing: border-box;
       
}

body{
    background-color: #EEEEEE;
}

/*Header*/
.papai{
    display: flex;
    background-color: #000000;
    justify-content: center;
}

.logoMain{
    width: 200px;  
}


.formulario1a{
    height: 100px;

    padding: 71px;  
    width: 800px;
}


.inputForm{
    width: 615px;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 18px;

    height: 40px;
}

.textoBemVindo1{
    height: 100px;
    padding: 50px;

    width: 300px;
}

.textoHeader{
    color: white;
}

.carrinho1{
    height: 100px;
    padding: 29px;
}

.carrinhoHeader{
    height: 62px;
}



/*Segundo header azul*/
.navA {
    justify-content: space-evenly;;
    display: flex;
    margin:0px;
    padding: 0px;
    background-color: #00072D;
}


.nav-link{
    color: white;
    text-decoration:none;

    font-size: 20px;
}

.nav-link:hover{
    color: orange;
}


/*Menu Hamburguer*/
.element.style { /*Itens do menu*/
    position: absolute;
    top: 5px;
    left: 4px;
    transform: translate3d(0px, 44px, 8px);
    
    height: 429px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 21;

    font-size: 30px;
}

.animaisMenuHamburguer{
    font-weight: bold;
    font-size: 30px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 20rem;
    padding: 3.5rem 0;
    margin: .125rem 0 0;
    font-size: 6rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 6px solid rgba(0,0,0,.15);
    border-radius: 2.25rem;
}

.menu-hamburguer{
    width: 60px;
    
    padding: 0px;
}

.btn-secondary {
    color: #fff; 
    background-color: #00072D;
    border-color: #00072D;
}


.col-12{
    /* border: 1px black solid; */
    height:auto;
    font-size:30px;
    color: #00072D;
    margin-top:7px;
    
}

.mensagem{
    /* border: 1px black solid; */
    height: auto;
    margin-top: 0px;
    font-size:12px;
    margin-left: 15px;

}

.col-4{
    /* border: 1px black solid; */
    height:auto;
    color: black;
    background-color:white;
}

.login-botao{
    margin-top: 25px;
    width: 300px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #A8DADC;
    border-color: #00072D;
    color: black;
    font-weight: bold;
    height: 32px;
    margin-bottom: 5px;
    
}

.alterar{
    margin-left:50px;    
    font-weight: bold;
}

.excluir{
    margin-left:140px;    
    font-weight: bold;
}

.login-continuar{
    margin-top: 25px;
    width: 200px;
    margin-left: 30px;
    border-radius: 10px;
    background-color: #A8DADC;
    border-color: #00072D;
    color: black;
    font-weight: bold;
    height: 40px;
    margin-bottom: 5px;

}

.finalizar{
    font-size:16px;
    text-align:center;
    color: black;
    font-weight: bold;
}

/* .col-1{
    border: 1px black solid;
    height:auto;
} */

.col-3{
    /* border: 1px black solid; */
    height:auto;
    background-color:white;
}


.col-11{
    /* border: 1px black solid; */
    height:auto;
}

.adicionarEndereco{
    height:auto;
    font-size:30px;
    color: #00072D;
    margin-top:-7px;
    
}

.col-10{
    /* border: 1px black solid; */
    height:auto;
    /* background-color:white; */
    border: 1px #00072D solid;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ccc;
}

.form-control{
    /* border-radius: 10px;
    box-shadow: 1px 1px 5px #ccc;
    color: white;
    width: 400px; */
    margin-top: 20px;
    /* margin-bottom: 1px; */
}

.buscarCep{
    margin-left:-5px;
    margin-top:26px;
    font-size:20px;
    font-weight: bold;
}

.icone-correio{
    margin-left: 17px;
    margin-top:16px;
}

.adicionar-enderecoBotao{
    margin-top: 25px;
    width: 200px;
    margin-left: 235px;
    border-radius: 10px;
    background-color: #A8DADC;
    border-color: #00072D;
    color: black;
    font-weight: bold;
    height: 40px;
    margin-bottom: 5px;

}

/* GERAL */
* {
    box-sizing: border-box;
}

.footer {
    background-color: #00072d;
    display: flex;
    color: white;
    /* margin: 0%;
    padding: 0%;
    border: 0%; */
    height: 35vh;
    width: 100%;
}

/* REDES SOCIAIS */
.logo-facebook {
    width: 20px;
    margin: 5px
}

.logo-instagram {
    width: 20px;
    margin: 5px;
}

.logo-twitter {
    width: 20px;
    margin: 5px
}

/* PARTE DE BAIXO DO FOOTER */
/* .informacoes_footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
} */

/* LOGO ECHOPET */
/* .logo_echopet {
    display: flex;
    justify-content: flex-end;
} */

.logo {
    width: 130px;
    height: 100px;
}

/* CONTATO */
/* .col-5 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
} */

/* CNPJ ECHOPET */
/* .cnpj_echopet {
    display: flex;
    align-items: flex-start;
} */


.sobre_Echopet {
    display: flex;
    flex-direction: column;
}

.col-5 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.col-6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}


/* FOOTER COPYRIGHT */

.footer-II {
    height: 8vh;
    display: flex;
    padding: 0px;
    margin: 0px;
    border: 0px;
    background-color: #cccccc;
}

.certificado_seguranca {
    width: 40px;
    margin: 5px;
}

.site_seguro {
    width: 50px;
    margin: 5px;
}

.logo_elo {
    width: 45px;
    margin: 5px
}

.logo_pagseguro {
    width: 55px;
    margin: 5px
}

.logo_mastercard {
    width: 35px;
    margin: 5px
}

.logo_visa {
    width: 35px;
    margin: 5px
}

.col-sm {
    display: flex;
    align-items: flex-end;
}

.logo_pequeno {
    display: flex;
    justify-content: flex-end;
}

.logos_cartoes {
    display: flex;
    justify-content: flex-end;
}

.copyrigh {
    display: flex;
    justify-content: center;
}