*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto'; 
    box-sizing: border-box;
       
}

body{
    background-color: #EEEEEE;
}





.col-12{
    /* border: 1px black solid; */
    height:auto;
    font-size:30px;
    color: #00072D;
    margin-top:7px;
    
}

.col-5{
    /* border: 1px black solid; */
    height:auto;
}

.imagemcaminhao{
    margin-left:22px;
    margin-top:7px;
    
}

.tituloentrega{
    font-size:20px;
    margin-left: 7px;
    color: #00072D;
    font-weight: bold;
}

.imagempagamento{
    margin-left:0px;
    margin-top:7px;
}

.titulopagamento{
    font-size:20px;
    margin-left: 7px;
    color: #00072D;
    font-weight: bold;
}

.col-4{
    /* border: 1px black solid; */
    height:auto;
    background-color:white;
}

.dadosParaEntrega{
    margin-top: 10px;
    color: black;
    margin-bottom:7px;
    margin-left:28px;
    
}

.titulo-pagamentocartao{
    font-size:20px;
    margin-left: 7px;
    color: #00072D;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom:2px;
}

.col-6{
    /* border: 1px black solid; */
    height:auto;
    background-color:white;
}


.cartao{
    margin-top:6px;
    color:black;
    margin-bottom: 1px;
    font-weight: bold;
}

.nomenocartao{
    margin-top:6px;
    color:black;
    margin-bottom: 1px;
    margin-left:110px;
    font-weight: bold;
}

.vencimentocartao{
    margin-top:6px;
    color:black;
    margin-bottom: 1px;
    margin-left:70px;
    font-weight: bold;
}

.nomeusuariocartao{
    margin-top:6px;
    color:black;
    margin-bottom: 1px;
    margin-left:80px;
}

.datavencimentocartao{
    margin-top:6px;
    color:black;
    margin-bottom: 1px;
    margin-left:80px;
}

.col-10{
    /* border: 1px black solid; */
    height:24px;
  }

  .checkEnderecoEntrega{
      margin-bottom: 75px;
  }

  .editarEnderecoBotao{
    margin-top: 10px;
    width: 250px;
    border-radius: 10px;
    background-color: #A8DADC;
    border-color: #00072D;
    color: black;
    font-weight: bold;
    height: 32px;
    margin-bottom: 5px;
    margin-left: 27px;
}

.col-1{
    /* border: 1px black solid; */
    height:auto;
}

.titulo-pagamentoboleto{
    font-size:20px;
    margin-left: 7px;
    color: #00072D;
    font-weight: bold;
    margin-top: 3px;
    margin-bottom:2px;
}

.imprimir-boleto{
    font-size: 12px;
    margin-left: 25px;
}

.finalizar-compra{
    margin-left: 800px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 250px;
    border-radius: 10px;
    background-color: #A8DADC;
    border-color: #00072D;
    color: black;
    font-weight: bold;
    font-size:20px;
    height: 32px;
    
}

/* .linha-vertical{
    border-left: 1px solid black;
    box-sizing: border-box;
    height: 50px;
    margin-left:40px;
    margin-top: -25px;
} */

.editarcartao{
    margin-left:15px;
    width: 250px;
    border-radius: 10px;
    background-color: #A8DADC;
    border-color: #00072D;
    color: black;
    font-weight: bold;
    font-size:16px;
    height: 32px;
}

