* {
    box-sizing: border-box;
}

.termos_politicas {
    margin: 20px;
    padding: 30px;
    border: 5px;
    width: 90vw;
    height: 70%;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-weight: bold;
}

@media (max-width: 500px) {
    .termos_politicas {
        width: 100vh;
    }
}