

* {
    box-sizing: border-box;
}



.image_descriton {
    display: flex;
    width: 95vw;
    height: 35vh;
    /* flex-direction: column; */
    text-align: center;
    /* background-color: midnightblue; */
    justify-content: center;
    margin-top: 200px;
    

}

.logo_fundo {
    margin-top: 50px;
    width: 900px;
    height: 250px;
      
   
}


.left {
    width: 30vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
    /* background-color: mediumvioletred; */

}


.right {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 800px;
    background-color: lightcoral;
    align-items: center;
    
    
    
}


    /* .background_logo{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        

        
    } */

@media (max-width: 500px) {
    .right {
        width: 300vw;
    }

    .left {
        width: 300vw;
    }

    .main {
        width: 400vw;
    }
}