body {
    padding: 0;
    margin: 0;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;

    background-color: #eeeeee;
    
}

* {
    box-sizing: border-box;
}

.left {
    width: 30vw;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    margin-top: 520px;
    margin-left: 30px;
}

.main {
    width: 40vw;
    height: 100vh;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.logo_fundo {
    text-align: center;
    width: 900px;
    height: 250px;
    
    margin-top: 75px;   
   
}

.logo-fundo {
    width: 300px;
    height: 220px;
    

}

.right {
    width: 30vw;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    justify-content: center;
    margin-top: 470px;
    margin-right: 55px;


}


    /* .background_logo{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        

        
    } */

@media (max-width: 500px) {
    .right {
        width: 300vw;
    }

    .left {
        width: 300vw;
    }

    .main {
        width: 400vw;
    }
}