*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.containerCadastro{
    
    padding: 50px;
    margin-left: 25%;
    margin-right: 10%;
}


.paginaCadastro{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.formCadastro1{
    background-color: #00072D;
    width: 73%; 
    border-radius: 10px;
    height: 800px;
   
}
.h1Cadastro{
    text-align: center;
    padding-top: 17px;
    color: white;
}
.formCadastro{
    text-align: center;
    box-sizing: border-box;
  
}
.Cadasto{
    padding: 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin:10px;
    opacity: 0.9;
    width: 30%;
}


.CadastoSubmit{
    padding: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin:10px;
    opacity: 0.9;
    width: 25%;
}


.CadastoSubmit:hover{
    color: orange;
}

.Email {
  width: 62.5%;
  padding: 20px;
    border: none;
    border-radius: 5px;
    background-color:white;
    margin:10px;
    opacity: 0.9;
    width: 63%;
}
#Register{
    width: 62.5%;
}
#Google{
    width: 37%;
    color: #FF0000;
    font-weight: bold;
    
}
#Facebook{
    width: 37%;
    color: #0000CD;
    font-weight: bold;
}

.smallText{
    color: white;
}

.Forgot{
    padding-top: 5px;
    color: white;

}

.smallText:hover{
    color: orange;
    text-decoration: none;
}
.Forgot:hover{
    color: orange;
    text-decoration: none;
    
}
.Login:hover{
    color: orange;
    text-decoration: none;
}
.linkCadastro{
    text-decoration: none;
    color:white
}














