body{
    height: 100vh;
    box-sizing: border-box;
}

#resumoCarrinho{
    margin-top: 0%;
}

#titleCarrinho{
    margin-top: 3%;
    margin-bottom: 1%;
}

#logoCarrinho{
    height: 5vh;
}


.linhaDiv {
    border-bottom: 0.10px solid rgb(180, 179, 179);
}

/*#parceleInfo{
    font-size: 12px;
    color: rgb(70, 70, 70);
}*/

#valorFrete{
    font-size: 18px;
    color: green;
}


.desconto10Porcento{
    text-align: center;
    
    background: #f1f1f1;
    border: 2px solid #000000;
    
    border-radius: 31px;
    margin: 60px;
    margin-left: 10%;
    margin-bottom: 5px;
    padding: 10px;
    
}
    
    
.cumpomDescontoTextoNormal{
    font-weight: bold;
    font-size: 20px ;
}
    
.cupomPetiscao{
    color: orange;
    font-weight: bold;
    font-size: 20px
}

@media (min-width: 780px){
    .input-group{
        width: 40%;
    }
}

/*Teste*/