body{
    height: 100vh;
    box-sizing: border-box;
}

.paddingCarrinho {
    padding: 70px;
}





/* main{
    border: 1px solid red;
} */

#titleCarrinho{
    margin-top: 3%;
    margin-bottom: 1%;
}

#logoCarrinho{
    height: 5vh;
}

