body{
    margin:0px;
    padding: 0px;
    background-color: #EEEEEE;
}


/*Main*/


.imgTestePapagaio{
    width: 30vw;
    height: 20vh;
}
.confirmPagto{
    text-align: center;
}

.containerConfirmacaoPagamento{
    padding: 70px;
    
}

.statusPedido{
    width: 380px;
    height: 335px;
}


@media (max-width: 1220px) {
    .h1confimacaoPagamento{
        font-size: 40px;
    }
    .containerConfirmacaoPagamento{
        padding: 50px;
    }

    .statusPedido{
        width: 380px;
        height: 335px;
    }
    
  }



@media (max-width: 800px) {
    .h1confirmacaoPagamento{
        font-size: 2.5rem;
    }

    .OlaPessoa{
        font-size: 1.8rem;
    }
    .containerConfirmacaoPagamento{
        padding: 30px;
    }
    .statusPedido{
        width: 280px;
        height: 255px;
    }}