/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.menu {
    background-color: #00072D;
  }
  
  .usuario-menu {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-decoration: solid;
    font-family: 'Times New Roman', Times, serif;
    font-style: unset;
    color: white;
  }