.body{
    margin:0px;
    padding: 0px;
}

.botaoLogout {
    background-color: white;
    color: #000000;
}

.nameUser {
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 2px;
}

.papai{
    display: flex;
    background-color: #000000;
    justify-content: center;
}

.papaiResponsa {
    display: none;
    background-color: #000000;
}

.logoMain{
    width: 200px;  
}


.formulario1a{
    height: 100px;

    padding: 70px;  
    width: 900px;

    justify-content: center;

    align-items: center;

    justify-items: center;
}


.inputForm{
    width: 700px;
    
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 18px;

    height: 40px;
}

.textoBemVindo1{
    height: 100px;
    padding: 50px;

    width: 300px;
}

.textoHeader{
    color: white;
    text-decoration: none;
    color: white;
}

.carrinho1{
    height: 100px;
    padding: 29px;
}

.carrinhoHeader{
    height: 62px;
}



/*Segundo header azul*/
.navA {
    justify-content: space-evenly;;
    display: flex;
    margin:0px;
    padding: 0px;
    background-color: #00072D;
}


.nav-link{
    color: white;
    text-decoration:none;

    font-size: 20px;
}

.nav-link:hover{
    color: orange;
}


/*Menu Hamburguer*/
.element.style { /*Itens do menu*/
    position: absolute;
    top: 177px;
    left: 4px;
    transform: translate3d(0px, 44px, 8px);
    
    height: 429px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 21px;

    font-size: 18px;
}

.animaisMenuHamburguer{
    font-weight: bold;
    font-size: 30px;

    font-size: 23px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 20rem;
    padding: 3.5rem 0;
    margin: .125rem 0 0;
    font-size: 6rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 6px solid rgba(0,0,0,.15);
    border-radius: 2.25rem;
}

.menu-hamburguer{
    width: 60px;
    
    padding: 0px;
}

.btn-secondary {
    color: #fff; 
    background-color: #00072D;
    border-color: #00072D;
}



.textoHeader:hover{
    color: orange;
    text-decoration: none;
}


@media (max-width: 1500px) {
    .formulario1a{
        width: 800px;      
    }
    
}



@media (max-width: 1400px) {
    .formulario1a{
        width: 700px;      
    }
    .inputForm{
        width: 640px;
    }
}



@media (max-width: 1320px) {
    .formulario1a{
        width: 600px;      
    }
    
    .inputForm{
        width: 540px;
    }

    .textoHeader{
        font-size: 16px;
    }
    
    .carrinhoHeader{
        height: 50px;
    }
}



@media (max-width: 1200px) {
    .formulario1a{
        width: 500px;      
    }
    
    .inputForm{
        width: 440px;
    }

    .textoHeader{
        font-size: 16px;
    }
    
    .carrinhoHeader{
        height: 50px;
    }   
}


@media (max-width: 1024px) {
    .formulario1a{
        width: 400px;      
    }
    
    .inputForm{
        width: 340px;
    }

    .textoHeader{
        font-size: 16px;
    }
    
    .carrinhoHeader{
        height: 50px;
    }   
}


@media (max-width: 840px) {
    .formulario1a{
        width: 300px;      
    }
    
    .inputForm{
        width: 240px;
    }

    .textoHeader{
        font-size: 16px;
    }
    
    .carrinhoHeader{
        height: 50px;
    }   
}


@media (max-width: 750px) {
    .papai {
        display: none;
    }

    .papaiResponsa {
        display: flex;
        flex-direction: column;
    }

    .row1 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logoMain {
        width: 140px;
    }

    .carrinhoHeader{
        height: 50px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .inputForm {
        width: 100%;
    }

    .formulario1a {
        height: auto;
        padding: 0;
        width: 75vw;
        margin: 0 auto;
        padding-bottom: 25px;
    }

    .nav li:last-child {
        display: none;
    }

    .height-carousel{
        height: 150px;
    }
    
}