*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto'; 
    box-sizing: border-box;
   
}

body{
    background-color: #EEEEEE;
}


.caixa{
    padding: 7%;

}

.col-md-4 {
    background-color: white;
    /* border: 1px black solid; */
    height: auto;
    
}

.col-md-2 {
    background-color: white;
    height: auto;
    
}

.text-left{
    margin-left:50px;
    margin-bottom: 30px;
    color: #212529;
  
}

.text-left2{
    margin-left:80px;
    margin-bottom: 35px;
    color: #212529;
}


.form-control{
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ccc;
    color: white;
    width: 350px;
    margin-top: 0px;
    margin-bottom: 1px;
}

.small-text{
    font-size: 12px;
    margin-left: 5px;
        
}

.recuperar-senha{
    font-size: 12px;
    margin-left: 175px;
    color: #FF8A14;
    font-weight: bold;
}

.login-botao{
    margin-top: 25px;
    width: 300px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #A8DADC;
    border-color: #00072D;
    color: black;
    font-weight: bold;
    height: 32px;
    margin-bottom: 5px;
    
    
  }

  .login-facebook{
    margin-top: 25px;
    width: 300px;
    margin-left: 20px;
    background-color:#023E8A;
    border-color: #00072D;
    border-width:1px;
    color: white;
    height: 35px;
    
  }

  .login-google{
    margin-top: 25px;
    width: 300px;
    margin-left: 20px;
    background-color:#F5F6FA;
    border-color: #00072D;
    border-width:1px;
    color: #636E72;
    height: 35px;
    margin-bottom: 5px;
    
  }


  
