* {
    box-sizing: border-box;
}

.trocasDev {
    padding: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
}

.row-cols-2 {
    display: flex;
}

.explicacaoTroca {
    /* display: flex;
    align-items: flex-start; */
    display: flex;
    justify-content: flex-end;
}

.valeTroca {
    display: flex;
    justify-content: flex-end;
}



.button {
    padding: 4px;
    width: 35px;
}

@media (max-width: 750px) {

}
