body{
    margin:0px;
    padding: 0px;
    background-color: #EEEEEE;
}

.bg-dark {
    /* background-color: #343a40!important;Cinza */
    background-color: #000000!important; /*preto*/
}

.logo{
    width: 220px;
}

.nav{
    font-size: 35px;
    
}


/*formulario menu*/
.form-control{
    width: 400px;
}


.navA{
    justify-content: space-evenly;;
    display: flex;
    margin:0px;
    padding: 0px;
    background-color: #00072D;
}


.nav-link{
    color: white;
    text-decoration:none;

    font-size: 15px;
}

.menu-hamburguer{
    width: 40px;
}

.menu-hamburguer:hover{

}



/*Main*/
.containerConfirmacaoPagamento{
    text-align: center;
    background-color: #3AB42F;
    width: 100%;
    height: 56px;
    
    
    padding: 10px;


    
    

}











