body{
    margin:0px;
    padding: 0px;
}

.logo{
    width: 220px;
}

.nav{
    font-size: 35px;
    
}


/*Navegação*/


/*formulario menu*/
.form-control{
    width: 400px;
}



.navA{
    justify-content: space-evenly;;
    display: flex;
    margin:0px;
    padding: 0px;
    background-color: #00072D;
}



.nav-link{
    color: white;
    text-decoration:none;

    font-size: 15px;
}

.menu-hamburguer{
    width: 40px;
}



/*Valor do produto*/
.card-text{
    font-size: 30px;
    text-align: center;
}

.nomeEchopet{
    font-size: 17px;
    margin:0 80px;
    color: darkgray;
}